<div class="container-fluid">
  <div class="row home-callout">
    <div class="container">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="hovereffect">
          <%= image_tag("dumbbells.jpg", :alt=> "Health", class: "img-responsive") %>
          <div class="overlay">
            <ul class="info text-center">
              <li><h2><%= link_to "Health", health_path %></h2></li>
              <li>Training Programs</li>
              <li>Nutrition Programs</li>
              <li>Contest Prep</li>
              <li><br /></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="hovereffect">
          <%= image_tag("dolphin.png", :alt=> "Aviation", class: "img-responsive") %>
          <div class="overlay">
            <ul class="info text-center">
              <li><h2><%= link_to "Aviation", aviation_path %></h2></li>
              <li>Business Development</li>
              <li>Program Management</li>
              <li>Contract Negotiations and Development</li>
              <li>US Government Pricing</li>
              <li><br /></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="hovereffect">
          <%= image_tag("technology.jpg", :alt=> "Technology", class: "img-responsive") %>
          <div class="overlay">
            <ul class="info text-center">
              <li><h2><%= link_to "Technology", technology_path %></h2></li>
              <li>Web Development</li>
              <li>Graphic Design</li>
              <li><br /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container services-callout">
  <div class="container">
    <div class="row">
      <div class="well">
        <h1 class="text-center">Interested in a Consultation?</h1>
        <button type="button" class="btn btn-default btn-lg btn-block">
          <%= link_to "Contact Us Now", new_contact_path %>
        </button>
      </div>
    </div>
  </div>
</div>