<!DOCTYPE html>
<html>
  <head>
    <title>HAVIT Consulting</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon bar"></span>
            <span class="icon bar"></span>
            <span class="icon bar"></span>
          </button>
          <%= link_to "/", class: "navbar-brand" do %>
            <i class="fa fa-group"></i>
            HAVIT Consulting
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About Us", "/about" %></li>
            <li><div class="dropdown">
              <button class="dropbtn">Services</button>
              <div class="dropdown-content">
                <%= link_to "Health", health_path %>
                <%= link_to "Aviation", aviation_path %>
                <%= link_to "Technology", technology_path %>
              </div>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            </div></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
    
    <nav class="navbar navbar-default footer" role="footer">
      <div class='container'>
        <div class="row">
          
          <div class="col-md-4">
            <ul class="navi">
              <li class="text-center"><h4>Social Media</h4></li>
              <li class="text-center">
                <%= link_to "http://www.instagram.com/havitcoaching", class: "text-center" do %>
                  <i class="fa fa-instagram"></i>
                  Instagram
                <% end %></li>
              <li class="text-center">
                <%= link_to "http://www.facebook.com/havitcoaching", class: "text-center" do %>
                  <i class="fa fa-facebook-square"></i>
                  Facebook
                <% end %></li>
              <li class="text-center">
                <%= link_to "https://www.linkedin.com/company/24426811/", class: "text-center" do %>
                  <i class="fa fa-linkedin-square"></i>
                  LinkedIn
                <% end %></li>
            </ul>
          </div>
          
          <div class="col-md-4">
            <ul class="navi">
              <li class="text-center"><h4>HAVIT Divisions</h4></li>
              <li class="text-center"><%= link_to "Health", health_path %></li>
              <li class="text-center"><%= link_to "Aviation", aviation_path %></li>
              <li class="text-center"><%= link_to "Technology", technology_path %></li>
            </ul>
          </div>
          
          <div class="col-md-4">
            <h4 class="text-center text-footer"> </h3>
            <ul class="navi">
              <li class="text-center"><%= link_to "Contact Us", new_contact_path %></li>
              <li class="text-center"><%= link_to "Careers", careers_path %></li>
              <br />
              <br />
              <li class="text-center"><i class="fa fa-copyright"></i> Copyright 2017 HAVIT Consulting</li>
            </ul>
          </div>
          
        </div>
      </div>
    </nav>
  </body>
</html>
